* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  background:#f5f5f5;
  margin:0;
  overflow-x:hidden;
  font-family:Arial, Helvetica, sans-serif;
}

header {
  background:url("images/food.jpg");
  padding:15px;
}

header h1,
header p {
  color:#fff;
  text-align:center;
  font-weight:bolder;
}

.search {
  display:flex;
  justify-content:center;
  align-items:center;
  gap:10px;
  margin-top:10px;
}

#searchBtn {
  border-radius:8px;
  padding:10px;
}

#searchInput {
  padding:10px;
  border-radius:8px;
  width:50%;
}


main {
  background:#fff;
  padding:20px;
  display:grid;
  grid-template-columns:2fr 1fr;
}



.categories {
  grid-column:1/-1;
}


.navigation-List {
  display:flex;
  list-style:none;
  gap: 20px;
  padding:0;
  cursor:pointer;
}

.navigation-List li {
  padding:8px 5px;
  border:1px solid #fff;
  border-radius:20px;
  cursor:pointer;
  background:whitesmoke;
}

.navigation-List li:hover{
  background:brown;
}
.dish-Container {
  display:grid;
  grid-column:1;
  grid-template-columns:repeat(3, 250px);
  gap:25px;
  padding:5px;
  align-content: start;
}

.dish-Container img {
  width:70%;
  height:100px;
  object-fit:cover;
  border-radius:8px;
}


.recipe-category {
  display:inline-block;
  padding:5px 10px;
  border-radius:5px;
  background:#eee;
  font-size: 13px;
  width: fit-content;
}

.recipe-category.breakfast {
  background:green;
}

.recipe-category.dinner {
  background:brown;
}

.recipe-category.lunch {
  background:yellow;
}

.recipe-category.dessert {
  background:purple;
}

#recipeDetails {
  display:none;
}

#recipeDetails.show {
  display:block;
}

.favourite-btn {
  border:0;
  background:none;
  cursor:pointer;
  font-size:20px;
}

.featured-recipe {
  margin-bottom:25px;
  grid-column:2;
  padding:10px;
}

.featured-recipe>img {
  width:65%;
  height:160px;
  object-fit:cover;
  border-radius:8px;
}

.featured-recipe h3 {
  color:brown;
}

.featured-top {
  display:grid;
  grid-template-columns:2fr 1fr;
  gap:15px;
  align-items:center;
}

.featured-top img {
  width:100%;
  height:160px;
  object-fit:cover;
  border-radius:8px;
}

.recipe-stats {
  display:flex;
  flex-direction:column;
  gap:10px;
}

.recipe-stats p {
  margin:0;
  font-size:15px;
}

.recipe-stats h2 {
  margin-bottom:8px;
  font-size:10px;
}

.recipe-content {
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
  align-items:start;
}

.recipe-content h2 {
  margin-top:0;
}

#FullRecipeBtn {
  grid-column:1/-1;
  justify-self:center;
  width:100%;
  padding:10px 20px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-weight:bold;
  background:brown;
}


@media(max-width: 768px){
  main {
    display:block;
    padding:15px;
  }

  .navigation-List {
    flex-wrap:wrap;
    gap:8px;
  }

  .dish-Container {
    grid-template-columns:repeat(2, 1fr);
    gap:15px;
  }

  .dish-Container img {
    width:70%;
    height:100px;
  }

  .featured-recipe {
    margin-top:25px;
  }

  .featured-recipe>img {
    width:65%;
    height:160px;
  }

  .featured-top {
    display:flex;
    gap:15px;
    align-items:flex-start;
  }

  .recipe-stats {
    float:none;
    display:flex;
    flex-direction:column;
    gap:8px;
  }

  .recipe-content {
    grid-template-columns:1fr;
    gap:15px;
  }

  #FullRecipeBtn {
    width:100%;
  }
}
@media(max-width: 480px) {
  .dish-Container {
    grid-template-columns:1fr;
    gap:20px;
  }

  .dish-Container img {
    width:65%;
    height:160px;
    object-fit:cover;
  }

  #searchInput {
    width:80%;
  }

  .search {
    flex-direction:column;
  }

  .navigation-List {
    justify-content:center;
  }

  .featured-recipe {
    width:100%;
    overflow:hidden;
  }

  .featured-top {
    flex-direction:column;
  }

  .featured-recipe>img {
    width:100%;
    height:160px;
    object-fit:cover;
  }

  .recipe-stats {
    width:100%;
  }

  .recipe-content {
    width:100%;
    grid-template-columns:1fr;
  }

  .ingredients-section,
  .instructions-section {
    width:100%;
    word-wrap:break-word;
    overflow-wrap:break-word;
  }

  .ingredients-section p,
  .instructions-section p {
    line-height:1.5;
  }
}
